# Python
__pycache__/
*.pyc

# 환경 설정
.env
venv/
.venv/
.env.*

# 기타
.DS_Store
*.log

#
firebase/serviceAccountKey.json
voicefixer/
ffmpeg-release-amd64-static/

qa_outputs/
README_QA.md
requirements_qa.txt
db_config.json
model_final/
qa_test.py

# TTS/임시 오디오
*.mp3
*.wav
speech_*.mp3
quiz_*.mp3
reminder_*.mp3
temp_*.wav
tmp_*.mp3