# ⚙️ 기본
fastapi==0.116.0
uvicorn==0.35.0
python-dotenv==1.1.1
python-multipart==0.0.20

# 🔒 Firebase
firebase-admin==6.9.0

# 🧠 LLM
openai==1.93.2

# 🗣️ 음성 처리
elevenlabs==2.6.0
pydub==0.25.1
torchaudio==2.7.1
torch==2.7.1
torchvision==0.22.1

# 📈 데이터 분석 및 추천
scikit-learn==1.7.0
joblib==1.5.1
pandas==2.3.1

# 🔗 기타
requests==2.32.4
